body {

    background:#F0F0F0;
  }
#container{
    /*border:2px solid;*/
    /*width:2000px;*/

  }
#title {
  text-align: center;
  font-family : Arial;
  font-size: 2em;
  line-height: 1.2;
  margin-bottom: 20px;
}


  #map{
    width:100%;
    margin-left: 75px;
    margin-top: 50px;

  }
  .bottom {
    width:20%;
  }
  .map_div{
    width: 75%;
    height:90%;
    float:left;
    /*margin:5px;*/
  }

  .bottom_div{
    width: 20%;
    float:right;
    /*margin:5px;*/
  }

  .state {
    fill: #fff;
  }

  .river {
    fill: none;
    stroke: blue;
    width: 3;
  }

  .towns {
    fill: red;
    fill-opacity: 0.7;
  }
    

  .internal-boundary {
    fill : none;
    stroke: #777;
    stroke-dasharray: 3,3;
  }
