#container{
    /*border:2px solid;*/
    /*width:2000px;*/

  }

  .map{
    width:100%;
  }
  .bottom {
    width:100%;
  }
  .map_div{
    background: #F0F0F0 ;
    width:100%;
    height:500px;
    float:left;
    border: 1px solid;
    /*margin:5px;*/
  }

  .bottom_div{
    width: 49%;
    height:500px;
    background:#F0F0F0;
    border: 1px solid;
    float:left;
    /*margin:5px;*/
  }

  .state {
    fill: #fff;
  }

  .river {
    fill: none;
    stroke: blue;
    width: 3;
  }

  .towns {
    fill: red;
    fill-opacity: 0.7;
  }
    

  .internal-boundary {
    fill : none;
    stroke: #777;
    stroke-dasharray: 3,3;
  }
